<h1>All Users</h1>
<table>
<thead>
	<tr>
		<td>User ID</td>
		<td>Name</td>
		<td>Email</td>
	</tr>
</thead>	
<% @users.each do |user| %>
<tbody>
	<tr>
		<td><%=user.id%></td>
		<td><%=user.name%></td>
		<td><%=user.email%></td>
	</tr>	
</tbody>
<% end %>
</table>

